.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.image {
  background-color: red;
  grid-column: 1 / span 8;
}

.content {
  background-color: blue;
  grid-column: 9 / span 4;
}
